.wrapper
    - const upperCase = dog.toUpperCase();
    p.red Hello #{name.toUpperCase()}
    span Yo!!!
    div #{upperCase}
    img.dog(src="tuc.png" alt=`${dog}`)

h2
    | Hello
    em How are you?